* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('img/fundocelular.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.header h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.question p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option {
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
}

.option:hover {
  background-color: #c62828;
}

.feedback {
  margin-top: 20px;
  font-size: 1em;
  font-weight: bold;
  display: none;
}

#next-button {
  display: none;
  margin-top: 20px;
  background-color: #ffc107;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
}

#next-button:hover {
  background-color: #ffb300;
}

/* Estilo para a tela de fim com a mensagem "Parabéns por completar o quiz" */
#end-screen {
  display: none;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 80%;
  max-width: 350px;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
  font-size: 1.2em;
  animation: fadeIn 1s ease-out;
}

/* Animação para a transição suave da tela final */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#end-screen h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
}

#end-screen p {
  font-size: 1.2em;
  margin-top: 0;
}

